Package: pet
Version: 0.1-1
Architecture: i386
Maintainer: Tiago Assuncao <tiago@sof2u.com>
Installed-Size: 32
Depends: python, postgresql-9.4-debversion, postgresql-9.4, wget, python-paste, python-argparse, python-debian, python-debianbts, python-inotifyx, python-psycopg2, python-pyramid, python-sqlalchemy, python-subversion
Section: base
Priority: optional
Description: PET - Package Entropy Tracker
 PET is a collection of scripts that gather information about your (or your group's) packages. It allows you to see in a bird's eye view the health of hundreds of packages, instantly realizing where work is needed.
