Source: pet
Section: base
Maintainer: Tiago Assuncao <tiago@sof2u.com>
Build-Depends: debhelper (>= 8.0.0), postgresql-9.4m, python-sqlalchemy, python-subversion, postgresql-9.4-debversion, wget
Standards-Version: 3.9.4
Priority: optional

Package: pet
# Version: 0.1
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}, python, postgresql-9.4-debversion, postgresql-9.4, wget, python-paste, postgresql-9.4-debversion, python-argparse, python-debian, python-debianbts, python-inotifyx, python-paste, python-psycopg2, python-pyramid, python-sqlalchemy, python-subversion
Description: PET - Package Entropy Tracker
	PET is a collection of scripts that gather information about your (or your group's) packages. It allows you to see in a bird's eye view the health of hundreds of packages, instantly realizing where work is needed.
