Source: pet
Priority: optional
Maintainer: GCS <gcs@WordPress-on-1404.122115-172>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Vcs-Git: git://git.debian.org/collab-maint/pet.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pet.git;a=summary

Package: pet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: PET - Package Entropy Tracker
	PET is a collection of scripts that gather information about your (or your group's) packages. It allows you to see in a bird's eye view the health of hundreds of packages, instantly realizing where work is needed.
